table {
    border-collapse: collapse;
    width: 50%;
}

tr {
    border-bottom: 1px solid #ff000d;
}

td {
    padding: 10px;
}

.text {
    background: rgba(51, 170, 51, .3);
}

.text:hover {
    background: rgba(51, 170, 51, .4)
}