ul {
    list-style: none;
}

li {
    padding-bottom: 20px;
}

.schedule {
    float: right;
    right: 15%;
    position: absolute;

}

.schedule-text {
    position:absolute;
    left:110px;
    top: 60px;
}

.text {
    background: rgba(67, 97, 238, .3);
    width: 90px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 12px;
}

.text:hover {
    background: rgba(67, 97, 238, .4);
}

#work, #pop, #la, #pd {
    margin-bottom: 10px;
}

#work {
    height: 105px;
    align-items: center;
}

#work-hover {
    display: none;
    background: rgba(67, 97, 238, .2);
    float: right;
    position: absolute;
    left: 115px;
    top: 20px;
    width: 70px;
    padding: 10px;
    border-radius: 5px;
}

#work-hover-text, #pop-hover-text, #la-hover-text, #pd-hover-text {
    font-size: 12px;
    text-align: center;
}

#work:hover + #work-hover{
    display: block;
}

#pop-hover {
    display: none;
    background: rgba(67, 97, 238, .2);
    float: right;
    position: absolute;
    left: 115px;
    top: 115px;
    width: 70px;
    padding: 10px;
    border-radius: 5px;
}

#pop:hover + #pop-hover {
    display: block;
}

#la-hover {
    display: none;
    background: rgba(67, 97, 238, .2);
    float: right;
    position: absolute;
    left: 115px;
    top: 195px;
    width: 70px;
    padding: 10px;
    border-radius: 5px;
}

#la:hover + #la-hover {
    display: block;
}

#pd-hover {
    display: none;
    background: rgba(67, 97, 238, .2);
    float: right;
    position: absolute;
    left: 115px;
    top: 280px;
    width: 70px;
    padding: 10px;
    border-radius: 5px;
}

#pd:hover + #pd-hover {
    display: block;
}

#work-text {
    position: relative;
    top: 30%;
}

#pop-text {
    position: relative;
    bottom: 55%;
}

#la-text {
    position: relative;
    bottom: 30%;
}

#pd-text {
    position: relative;
    bottom: 5%;
}

#pop {
    height: 25px;
    margin-top: 15px;
}

#la {
    height: 25px;

    margin-top: 25px;
}

#pd {
    height: 52px;
    margin-top: 30px;
}