body {
    background-color: pink;
}

.checkboxes {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkboxes:checked {
    background-color: gray;
}
