<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css') }}">
    <title>Title</title>
        {% block head %}


    {% endblock %}
</head>
<body>
    {% block body %}
{{schedule}}
<ul>
  {% for task in tasks %}
  <li>
    <input type="checkbox" name="completed" value="{{ task.id }}" {% if task.completed %}checked{% endif %}>
    {{ task.title }}
  </li>
  {% endfor %}
</ul>

<form action="{{ url_for('add_todo_tasks_blueprint.add_tasks') }}" method="post">
  <input type="text" name="title">
  <button type="submit">Add</button>
</form>

    {% endblock %}
</body>
</html>