<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css') }}">
    <title>Title</title>
        {% block head %}


    {% endblock %}
</head>
<body>
    {% block body %}

    <div id="schedule_table">
<!--        {% if schedule == 1 or 3 %}-->
        {% include 'odd.html' %}
<!--        {% endif %}-->
    </div>

    <div id="todo_list">
        <form action="{{ url_for('delete_todo_tasks_blueprint.delete_tasks') }}" method="post">
            <ul style="list-style-type:none;">
            {% for task in tasks %}
            <li>
                <p style="color:black;" style="font:20px;">
                    <input type="submit" name="check" id="checkbox" class="checkboxes" value="{{ task[0] }}">
                    <label for="checkbox">{{ task[1] }}</label>
                </p>
            </li>
            {% endfor %}
            </ul>
        </form>

        <form action="{{ url_for('add_todo_tasks_blueprint.add_tasks') }}" method="post">
            <input type="text" name="title">
            <button type="submit">Add</button>
        </form>

    </div>


    {% endblock %}
</body>
</html>