<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css') }}">
    <title>Title</title>
        {% block head %}


    {% endblock %}
</head>
<body>
    {% block body %}
{{schedule}}
    <div class="todo_list">
        <ul style="list-style-type:none;">
        {% for task in tasks %}
        <li>
            <p style="color:black;" style="font:20px;"><input type="checkbox" name="completed" class="checkbox">{{ task[1] }}</p>
        </li>
        {% endfor %}
        </ul>

        <form action="{{ url_for('add_todo_tasks_blueprint.add_tasks') }}" method="post">
        <input type="text" name="title">
        <button type="submit">Add</button>
        </form>
        </div>
    {% endblock %}
</body>
</html>