<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='css/odd_style.css') }}">
    <title>Title</title>
</head>

<body>
    <div class="schedule">
        <ul>
            <li>7:00 am</li>

            <li>8:00 am</li>

            <li>9:00 am</li>

            <li>10:00 am</li>

            <li>11:00 am</li>

            <li>12:00 pm</li>

            <li>1:00 pm</li>

            <li>2:00 pm</li>

            <li>3:00 pm</li>

            <li>4:00 pm</li>

            <li>5:00 pm</li>

            <li>6:00 pm</li>
        </ul>

        <div class="schedule-text">
            <div class="text" id="work"><p id="work-text">work</p></div>
            <div id="work-hover"><p id="work-hover-text">8:00 am<br>to<br>11:00am</p></div>

            <div class="text" id="pop"><p id="pop-text">principles of programming</p></div>
            <div id="pop-hover"><p id="pop-hover-text">11:30 am<br>to<br>12:20 pm</p></div>

            <div class="text" id="la"><p id="la-text">linear algebra</p></div>
            <div id="la-hover"><p id="la-hover-text">1:30 pm<br>to<br>2:20 pm</p></div>

            <div class="text" id="pd"><p id="pd-text">professional development</p></div>
            <div id="pd-hover"><p id="pd-hover-text">3:30 pm<br>to<br>5:15 pm</p></div>
        </div>

    </div>

</body>
</html>